.right-panel {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}
.mail-link {
  margin: 20px auto;
  padding: 10px;
  font-size: 12px;
  line-height: v18px;
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  cursor: pointer;
  text-decoration: none;
  color: #72716e;
}

.vl {
  border-left: 1px solid #72716e;
  height: 100px;
}
